*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/sampledata
/app/src/main/java/com/example/nexttransit/APIKEY
/DirectionsResponseUML.png
/app/src/main/res/sample_response.json
/app/build/*
/.kotlin/sessions/kotlin-compiler-17722648751300109050.salive
/.idea/studiobot.xml
/app/google-services.json
/.kotlin/
